.upgrade-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.upgrade-tab div:first-child {
  margin-left: 0;
}

.upgrade-tab-item {
  width: 228px;
  height: 72px;
  background: url(./images/tab-deactive.png) no-repeat left top/100% 100%;
  background-size: cover;
  font-size: 32px;
  font-family: 'tabTiHei';
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding: 12px 0;
  position: relative;
  text-shadow: 0px 0px 20px #A423D6;
}

.upgrade-tab-item.active {
  width: 228px;
  height: 72px;
  background: url(./images/tab-active.png) no-repeat left top/100% 100%;
  text-shadow: 0px 0px 20px #5623D6;

}

.upgrade-tab-item:last-child {
  margin-left: 30px;
}

@font-face {
  font-family: tabTiHei;
  src: url(./images/tab-fontface.ttf);
}
