//主体样式变量集中
@mainColor: #5654be;
@lightMainColor:rgba(86, 84, 190, 0.6);
@titleLineColor:rgba(157, 155, 255, 0.15);
@midTitleColor:#6f6ee4;
@textColor:#1b1a5d ;
@ant-space-svg-color:#ffffff;
@ant-tabs-tab-color:rgba(255, 255, 255, 0.4);
@ant-tabs-ink-bar-color:#25cef7;
@ant-page-header-footer-background-color:rgba(111, 110, 228, 0.4);

@backgroundColor0: #ffffff;
@backgroundColor1: #ffffff;
@backgroundColor2: #ffffff;
@backgroundColor3: #ffffff;
@backgroundColor5: linear-gradient(#fcfcfd, #fcfcfd), linear-gradient(#fcfcfd, #fcfcfd);
@backgroundColor6: #ffffff;
@backgroundColor7: rgba(157, 155, 255, 0.1);

@colors: rgba(27, 26, 93, 0.6);
@color2: #000000;
@color3: #e8e8e8;
@color4: #91b0ff;
@color5: #ffffff;
@colorAfter:rgba(0,0,0,0);
