.at-modal__content{
    padding: 74px 38px;
    min-height: 50px;
}
.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt {
    font-size: 32px;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    text-align: center;
    color: #101f42;
    margin: 6px 0;
}