
// 图片基准路径变量
$rootUrl:'https://meijing-public-resources.oss-cn-hangzhou.aliyuncs.com/mini-programs/meijing-applet';

// 工地小程序图片基准路径变量
$rootConstructionUrl:'https://meijing-public-resources.oss-cn-hangzhou.aliyuncs.com/mini-programs/meijing-applet-construction';

// 爱境360图片基准路径变量
$rootAiJingUrl:'https://meijing-public-resources.oss-cn-hangzhou.aliyuncs.com/aijing-inpsect-web';