.navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 32px;
  height: 128px;
  pointer-events: none;
  z-index: 10;
}

.back,
.more {
  position: fixed;
  width: 38px;
  height: 128px;
  display: flex;
  align-items: center;
  z-index: 10;
  top: 0;
}

.back {
  left: 32px;
}

.ar .back {
  left: auto;
  right: 32px;
  transform: scale(-1);
}

.more {
  right: 32px;
}

.ar .more {
  right: auto;
  left: 32px;
}

svg {
  width: 100%;
}

.placeholder {
  height: 36px;
  box-sizing: content-box;
}
