.replyList {
    .more {
        width: 170px;
        height: 36px;
        font-size: 28px;
        font-family: Abel-Regular, Abel;
        font-weight: 400;
        color: #9373FF;
        line-height: 33px;
        margin-left: 72px;
    }
}