.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}

.no-data img {
  width: 198px;
  height: 196px;
}

.no-tips{
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  margin: 30px 0 0 0;
}