.player-pannel {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 586px;
  background: linear-gradient(166deg, #7fa4ff 0%, #551da7 100%);
  border-radius: 20px;
  filter: blur(0px);
}

.player-pannel .avatar-box {
  margin-top: 20px;
  width: 152px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#83bdee, #b680ff);
  border-radius: 50%;
  box-sizing: border-box;
}

.player-pannel .avatar-box img {
  width: 144px;
  height: 144px;
  border-radius: 50%;
}

.player-pannel .song-intro {
  margin: 10px auto 20px;
  width: 490px;
  font-size: 20px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 32px;

  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.singer-name {
  margin-top: 10px;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
}

.song-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
}

.song-progress {
  margin: 20px auto 10px;
  width: 490px;
  height: 8px;
  border-radius: 2px;
  background: #c2c2c4;
  position: relative;
  display: flex;
  align-items: center;
}

.song-progress-bar {
  height: 100%;
  background: #ffffff;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.song-progress-bar::after {
  content: "";
  position: absolute;
  right: -9px;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.song-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 490px;
  font-size: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #ffffff;
  line-height: 28px;
}

.player-pannel .song-name {
  font-size: 28px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 40px;
}

.song-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.song-play {
  margin: 0 52px;
  width: 104px;
  height: 104px;
  background-image: url(../../assets/images/img-play.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.song-play[data-play="1"] {
  background-image: url(../../assets/images/img-pause.png);
}

.song-play-prev,
.song-play-next {
  width: 76px;
  height: 76px;
  background-image: url(../../assets/images/img-play-prev.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.song-play-next {
  background-image: url(../../assets/images/img-play-next.png);
}

.player-pannel .extra-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 24px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.player-pannel .play-times,
.player-pannel .support-times {
  font-size: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #ffffff;
  line-height: 28px;
}

.play-times span,
.support-times span {
  margin-right: 10px;
  padding: 0 8px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid #cc51ce;
}

.support-times {
  margin-left: 20px;
}

.support-times span {
  border-color: #6ca3ff;
}

span.icon-like {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(../../assets/images/img-like.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

span.icon-like[data-like="1"] {
  background-image: url(../../assets/images/img-liked.png);
}
