.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px 6px;
  height: 120px;
  border-bottom: 2px solid #52227d;
  box-sizing: border-box;
}

.list-item[data-rank="1"] {
  width: 560px;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item .rank {
  flex: 0 0 auto;
  margin-right: 20px;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
}

.list-item img {
  flex: 0 0 auto;
  margin-right: 30px;
  width: 82px;
  height: 82px;
  border-radius: 50%;
}

.list-item .nickname {
  flex: 1;
  font-size: 24px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-item .num {
  flex: 0 0 auto;
  margin-left: 10px;
  margin-right: 32px;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #6ca3ff;
}
