.appointment-page {
  padding-top: 1200px;
  /* background: url(./../../assets/page-bottom2.png) no-repeat left bottom/750px 786px; */
  background-color: #381198;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.room-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 14px;
  width: 632px;
  height: 206px;
  background: #2b1a63;
  border-radius: 10px;
  border: 2px solid #5e0bf1;
  box-sizing: border-box;
}

.avatar-box {
  position: relative;
  flex: 0 0 auto;
  margin-right: 20px;
  width: 138px;
  height: 138px;
  border-radius: 50%;
}

.avatar-box img {
  width: 138px;
  height: 138px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.avatar-box span[data-living] {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 46px;
  height: 46px;
  background: url(./images/icon-living.png) no-repeat center center;
  background-size: cover;
}

.roominfo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  font-size: 24px;
  font-family: PingFangSC-Semibold, PingFang SC;
  line-height: 34px;
  font-weight: 600;
  overflow: hidden;
}

.room-name {
  margin-bottom: 12px;
  width: 100%;
  font-size: 28px;
  color: #ffffff;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.room-desc {
  width: 100%;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.room-time {
  margin-top: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #f893ff;
}

.make-a-date {
  flex: 0 0 auto;
  margin-left: 10px;
  width: 128px;
  height: 56px;
  background-image: url(./images/img-btn-order1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.make-a-date.done {
  background-image: url(./images/img-btn-order2.png);
}

.make-a-date.finish {
  background-image: url(./images/img-btn-order3.png);
}

#modal-message-bottom {
  width: 100%;
  height: 23px;
}
