.global-player {
  position: fixed;
  left: 10px;
  top: 480px;
  height: 156px;
  z-index: 20;
  transform: translate3d(0, 0, 0);
}

.avatar-box {
  position: absolute;
  left: -4px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 156px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #ffffff;
  background-size: cover;
  z-index: 1;
}

.avatar-box::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  background: url(./images/img-circle-wrapper.png) no-repeat center center;
  background-size: cover;
}

.global-player-icon {
  width: 146px;
  height: 146px;
  border-radius: 50%;
  animation: circle-rotate 20s linear infinite;
}

@keyframes circle-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.global-player-icon[data-play="0"] {
  animation: none;
}

.global-player-icon[data-play="1"] {
  animation-play-state: running;
}

.global-player-icon[data-play="2"] {
  animation-play-state: paused;
}

.global-player-controls {
  position: relative;
  margin-left: 73px;
  width: 422px;
  height: 156px;
  padding: 8px;
  background: linear-gradient(#632bcd, #2649ca);
  box-shadow: 0px 4px 8px 0px #000562;
  border-radius: 0px 10px 58px 0px;
  box-sizing: border-box;
  z-index: 0;
}

.global-player-controls::before {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  display: block;
  content: "";
  background: #fff;
  border-radius: 0px 10px 58px 0px;
  z-index: -1;
}

.global-player-controls .control-box {
  padding-left: 80px;
  padding-right: 36px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(180deg, #b758ff 0%, #55c8ff 100%);
  border-radius: 0px 10px 58px 0px;
  box-sizing: border-box;
}

.song-title {
  width: 100%;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.player-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -16px;
  margin-bottom: -16px;
}

.player-icon {
  flex: 0 0 auto;
  width: 92px;
  height: 92px;
  background-image: url(./images/player-play.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.player-icon[data-play="1"] {
  background-image: url(./images/player-pause.png);
}

.player-prev-icon,
.player-next-icon {
  width: 88px;
  height: 88px;
  background-image: url(./images/player-prev.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.player-next-icon {
  background-image: url(./images/player-next.png);
}

.song-info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6px;
  z-index: 1;
}

.progress {
  margin: 0 10px;
  width: 200px;
  height: 8px;
  border-radius: 2px;
  background: #5e4dad;
  position: relative;
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 100%;
  background: #ffffff;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.progress-bar::after {
  content: "";
  position: absolute;
  right: -9px;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.song-current,
.song-total {
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #ffffff;
}
