.count-down-layer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #d15cff;
  line-height: 34px;
  margin: 0 0 22px 0;
}

.score-pannel {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 628px;
  height: 174px;
  background: url(./images/img-score-pannel.png) no-repeat center center;
  background-size: cover;
}

.score-pannel-left,
.score-pannel-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 32px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 44px;
}

.score-pannel span[data-txt="left"],
.score-pannel span[data-txt="right"] {
  display: block;
  margin-bottom: 20px;
  width: 108px;
  height: 36px;
  background-image: url(./images/lottery-poll-txt1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.score-pannel span[data-txt="right"] {
  width: 186px;
  background-image: url(./images/lottery-poll-txt2.png);
}

.score-pannel span[data-decorator] {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 104px;
  height: 101px;
  background: url(../../assets/images/img-diamond-pool.png) no-repeat center center;
  background-size: cover;
}

.img-mark{
    position: absolute;
  top: -78px;
  right: -36px;
  width: 84px;
  height: 84px;
}