.common-pannel {
  width: 690px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.common-pannel::before {
  display: block;
  flex: 0 0 auto;
  width: 690px;
  height: 86px;
  content: '';
  background: url(./images/card-top.png) top/690px 86px no-repeat;
}

.common-pannel::after {
  display: block;
  flex: 0 0 auto;
  width: 690px;
  height: 34px;
  content: '';
  background: url(./images/card-bottom.png) top/690px 34px no-repeat;
}

.common-pannel .fixed-bottom {
  position: absolute;
  bottom: 6px;
  left: 6px;
  right: 6px;
  height: 200px;
  background: linear-gradient(180deg, rgba(110, 59, 148, 0) 0%, #431BDE 100%);
  pointer-events: none;
  border-radius: 0 0 16px 16px;
}

.common-pannel .pannel-title {
  position: absolute;
  top: 0;
  left: 107px;
  height: 80px;
  width: 488px;
  font-size: 32px;
  color: #fff;
  /* line-height: 80px;
  text-align: center; */
  font-family: 'fangyuehe';
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-pannel .children {
  flex: 1;
  background: url(./images/card-center.png) center/690px 34px repeat;
  min-height: 200px;
  width: 100%;
  padding: 50px 22px 32px 28px;
  position: relative;
}

.common-pannel.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.common-pannel.column .children{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.common-pannel.column span[data-shadow1] {
  position: absolute;
  left: 0px;
  top: 150px;
  display: block;
  width: 60px;
  height: 306px;
  background: url(./images/img-pannel-decorator.png) no-repeat center center;
  background-size: cover;
  transform: rotate(180deg);
  z-index: 5;
}

.common-pannel.column span[data-shadow2] {
  position: absolute;
  right: 0px;
  top: 140px;
  display: block;
  width: 60px;
  height: 306px;
  background: url(./images/img-pannel-decorator.png) no-repeat center center;
  background-size: cover;
  z-index: 5;
}

.common-pannel span[data-grade] {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
}

.common-pannel span[data-grade]::before,
.common-pannel span[data-grade]::after {
  display: block;
  position: absolute;
  top: -60px;
  content: "";
  width: 32px;
  height: 70px;
  background: url(./images/img-grade.png) no-repeat center center;
  background-size: cover;
}

.common-pannel span[data-grade]::before {
  left: 24px;
}

.common-pannel span[data-grade]::after {
  right: 24px;
}
