.count-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.count-down .title {
  margin-right: 12px;
  font-size: 26px;
  font-weight: 400;
  color: #012257;
  line-height: 36px;
}

.count-down .time-ext {
  /* margin: 0 10px; */
  height: 24px;
}

.time-item-layer {
  position: relative;
  margin: 0 10px;
  width: 36px;
  height: 54px;
  background: linear-gradient(180deg, #5a34a5 0%, #2d186c 100%);
  text-align: center;
  overflow: hidden;
}

.time-item-layer.space {
  margin-left: 2px;
}

.time-item-layer .time-item {
  position: absolute;
  left: 0;
  top: -54px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 54px;
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
  background: linear-gradient(180deg, #5a34a5 0%, #2d186c 100%);
  z-index: 1;
}

.time-item-layer .time-item.active {
  top: 0;
}

.time-item-layer .time-item.slide-enter {
  top: -54px;
}

.time-item-layer .time-item.slide-enter-active {
  top: 0;
  transition: all 0.2s ease-out;
}

.time-item-layer .time-item.slide-exit {
  top: 0;
}

.time-item-layer .time-item.slide-exit-active {
  top: 54px;
  transition: all 0.2s ease-out;
}
