/* stylelint-disable block-no-empty */

.set_list_tree{
  border: 1px solid gainsboro;
  min-height: 100px;
  padding: 10px 0;
}
.set_list_right{
  padding-left: 20px;
}
.currencys{
  .knowledgeList{
    min-height: 100px;
    padding: 10px;
    border: 1px solid gainsboro;
    .currencys_tag{
      margin: 0 5px 5px 0;
    }
  }
}
.editableProTables{
  .ant-pro-card-body{
    padding: 0 0 24px 0 !important;
  }
}