.invitation-wrapper {
  background: #1b1135;
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 35px;
  position: relative;
  transition: all 0.3s ease-in-out;
  &::after{
    content: ' ';
    position: absolute;
    top: 120px;
    right: 0;
    width: 686px;
    height: 221px;
    background-image: url("./image/in-moon.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .text{
    margin: 20px auto 0;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .invitation-text-wrap{
    margin: 0 auto;
    padding-top: 20px;
    width: 490px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: flex-start;
    &::before{
      content: " ";
      position: absolute;
      width: 100vw;
      height: 1200px;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(222, 196, 146, 0.4) 0%, rgba(171, 162, 139, 0) 100%);
      opacity: 0.3;
      filter: blur(1px);
    }
    &::after{
      content: " ";
      position: absolute;
      width: 50vw;
      height: 500px;
      top: 70px;
      left: 25vw;
      background: linear-gradient(180deg, rgba(255, 232, 188, 0.4) 0%, rgba(171, 162, 139, 0) 100%);
      opacity: 0.5;
      filter: blur(100px);
    }
    .frame{
      width: 52px;
      height: 52px;
      &:first-child{
        margin-left: 68px;
      }
    }
    .invitation-text{
      margin-bottom: 6px;
      font-size: 28px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.5);
      line-height: 28px;
      text-align: center;
    }
  }
  .invitation-step-wrap{
    margin: 0 auto;
    &.step-image{
      margin-top: 66px;
      height: 130px;
    }
    &.step-tips{
      .step-item{
        font-size: 28px;
        font-family: PingFang SC-Bold, PingFang SC;
        font-weight: bold;
        color: #9373FF;
        line-height: 26px;
        text-align: center;
      }
    }
    &.step-desc{
      .step-item{
        font-size: 20px;
        font-family: PingFang SC-Bold, PingFang SC;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
        line-height: 20px;
        text-align: center;
      }
    }
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .step-item{
      width: 288px;
      font-size: 28px;
    }
    .step-line{
      width: 262px;
    }
  }
  .record-box {
    margin-top: 56px;
    border-radius: 32px;
    position: relative;
    &::after{
      content: '邀请记录';
      position: absolute;
      top: -16px;
      left: calc(50% - 210px);
      width: 430px;
      height: 80px;
      background-image: url("./image/in-header.png");
      background-repeat: no-repeat;
      background-size: 100%;
      font-size: 28px;
      font-family: PingFang SC-Bold, PingFang SC;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 80px;
      text-align: center;
    }
    .record{
      width: 100%;
      height: 522px;
      background: #382268;
      border: 4px solid rgba(255, 255, 255, 0.1);
      border-radius: 32px;
      color: #fff;
      .header{
        margin-top: 120px;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        .number{
          font-size: 64px;
        }
      }
      .record-list{
        padding: 40px;
        height: 270px;
        width: 100%;
        box-sizing: border-box;
        .record-item{
          margin-top: 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 28px;
          font-family: PingFang SC-Bold, PingFang SC;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.5);
          line-height: 32px;
        }
      }
    }
  }
  .btn {
    margin: 90px auto 0;
    width: 629px;
    height: 104px;
    background: linear-gradient(81deg, #8568D6 0%, #401896 100%);
    box-shadow: inset 0px 0px 10px 4px rgba(173, 149, 255, 0.19);
    border-radius: 58px 58px 58px 58px;
    font-size: 35px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 104px;
  }

  .share-content-hidden {
    position: absolute;
    z-index: -9;
    // background: url(./image/share-bg.png) no-repeat;
    // background-size: contain;
    background-color: #1b1135;
    width: 90vw;
    height: 910px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 90vw;
      height: 910px;
    }

    .qr-code {
      position: absolute;
      width: 165px !important;
      height: 165px !important;
      right: 44px;
      bottom: 42px;
      border: 1px solid #000;
      padding: 4px;
      background: #fff;
    }
  }

  .share-posters {
    height: 100%;
    width: 100vw;
    position: fixed;
    background-color: transparent;
    z-index: -1;
    top: 0;
    left: 0;

    .share-content-show {
      // width: 300px;
      // display: inline-block;
      // margin: 50px auto 0;
      position: fixed;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      // zoom: 0.8;
      img {
        width: 90vw;
        height: 910px;
        display: block;
        object-fit: fill;
        // pointer-events: none;
        // width: 250px;
        // height: 375px;
      }
    }

    // .shareContent {
    //   background: url(../../assets/shareBg.png) no-repeat;
    //   background-size: contain;
    //   width: 300px;
    //   height: 450px;
    //   position: absolute;
    //   top: 90px;
    //   left: 50%;
    //   transform: translateX(-50%);

    //   .qr_code {
    //     position: absolute;
    //     width: 95px !important;
    //     height: 95px !important;
    //     right: 15px;
    //     bottom: 19px;
    //   }
    // }

    .share-footer {
      // height: 398px;
      width: 100%;
      position: fixed;
      bottom: 0;
      color: #a6b4bf;
      font-size: 32px;
      text-align: center;
      .share-footer-share {
        height: 296px;
        margin-bottom: 16px;
        background-color: #382268;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;

        p {
          line-height: 120px;
          font-size: 28px;
          margin: 0;
        }

        ul {
          display: flex;
          // justify-content: space-between;
          justify-content: flex-start;
          // align-items: center;
          padding: 0 86px;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            // &:last-child{
            //   margin-right: 86px;
            // }
            &:first-child{
              // margin-left: 86px;
              margin-right: 86px;
            }
            img {
              width: 96px;
              height: 96px;
              margin-bottom: 16px;
            }

            span {
              font-size: 24px;
            }
          }
        }


      }

      .share-footer-close {
        height: 96px;
        line-height: 86px;
        background-color: #382268;
      }
    }
  }
}