/* stylelint-disable block-no-empty */
@import '~antd/es/style/themes/default.less';

.chapter_list {
  display: flex;
  flex-wrap: wrap;
  .chapter_list_left {
    width: 30%;
    margin-right: 20px;
    padding: 10px;
    background-color: white;
  }
  .chapter_list_right{
    flex: 1;
  }
}