.rich-text-container {
  color: #f8f8f2;

  font-size: 28px;
  word-break: break-all;
  .h5-img,
  img {
    margin-bottom: 1rem;
    width: 100%;
    min-height: 240px;
    object-fit: cover;
  }

  h1,
  .h5-h1,
  h2,
  .h5-h2,
  h3,
  .h5-h3,
  h4,
  .h5-h4,
  h5,
  .h5-h5,
  h6,
  .h5-h6,
  p,
  .h5-p,
  ul,
  .h5-ul,
  ol,
  .h5-ol {
    margin: 0;
    padding: 0;
  }

  ul,
  .h5-ul,
  ol,
  .h5-ol {
    padding-left: 1.5em;
  }

  .h5-pre,
  pre {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
    white-space: pre-wrap;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    box-sizing: border-box;
  }
}
