/* stylelint-disable block-no-empty */

.knowledge_list {
  display: flex;
  flex-wrap: wrap;
  .knowledge_list_left {
    width: 30%;
    margin-right: 20px;
    padding: 10px;
    background-color: white;
    .knowledge_list_tree{
      border: 1px solid gainsboro;
      min-height: 100px;
      padding: 10px 0;
    }
  }
  .knowledge_list_right{
    flex: 1;
  }
}