.order-detail-goods-page-container {
  padding: 0 32px 39px;
  .order-detail-header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .order-detail-no {
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
  }
  .order-detail-status {
    font-size: 28px;
    font-weight: 500;
    color: #9373FF;
  }

  .order-detail-body {
    height: 236px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  .goods-poster {
    width: 236px;
    height: 223px;
    overflow: hidden;
    display: block;
    border-radius: 20px;
  }

  .goods-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
    padding-left: 32px;
  }

  .goods-info-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .goods-title {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    color: #fff;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .goods-number {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
  }

  .goods-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 44px;
  }

  .goods-amount-label {
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
  }

  .goods-amount {
    font-size: 48px;
    font-family: 'D-DIN-Bold';
    font-weight: bold;
    color: #9373FF;
    padding-left: 8px;
  }
}
