@import '~antd/es/style/themes/default.less';
.leftTree{
  width: 450px;
  height: 792px;
  background-color: #f4faff;
  border-radius: 2px;
  border: solid 1px #91d0ff;
  padding-right: 2px;
  .treeArea {
    height: calc(100% - 20px);
    overflow-y: scroll;
  }
  .treeArea::-webkit-scrollbar{
    height: 4px;
    width: 4px;
  }
  .treeArea::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 3px;
    background:#d4edff;
    height: 60px;
    width: 100px;
  }
  .treeArea::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 3px;
    background: #f6f7fb;
  }
}
.treeArea{
  margin: 10px 2px 10px 10px;
  .ant-tree{
    position: relative;
    .ant-tree-list{
      background-color: #f4faff;
      .ant-tree-treenode{
        .ant-tree-switcher{
          margin-top: 6px;
          background-color: transparent !important;
        }
        .ant-tree-indent{
          .ant-tree-indent-unit{
            width: 32px;
            &::before{
              border-right: 1px solid #91d0ff;
              top: -28px;
              right: 20px;
              bottom: -22px;
            }
          }
        }
        .ant-tree-switcher_close,.ant-tree-switcher_open{
          &::after{
            content: '';
            display: inline-block;
            height: 1px;
            width: 16px;
            background-color: #91d0ff;
            position: absolute;
            right: -11px;
            top: 12px;
          }
          &::before{
            top: 20px;
            height: 46px;
            left: 44px;
            content: '';
            width: 1px;
            background-color: #91d0ff;
            position: absolute;
          }
          .anticon{
            width: 16px;
            height: 16px;
            background-color: #91d0ff;
            border-radius: 50%;
            position: relative;
            svg{
              display: none;
            }
          }
        }
        .ant-tree-switcher_close{
          .anticon{
            &::after{
              display: inline-block;
              height: 16px;
              width: 16px;
              content: '+';
              text-align: center;
              line-height: 11px;
              font-size: 16px;
              color: white;
              font-weight: bold;
              position: absolute;
              left: 0;
            }
          }
        }
        .ant-tree-switcher_open{
          .anticon{
            &::after{
              display: inline-block;
              height: 2px;
              width: 8px;
              background-color: white;
              content: '';
              position: absolute;
              left: 4px;
              top: 7px;
            }
          }
        }
        .ant-tree-switcher-noop{
          position: relative;
          .anticon{
            svg{
              display: none;
            }
          }
          &::before{
            content: '';
            width: 1px;
            height: 35px;
            background-color: #91d0ff;
            position: absolute;
            right: 0px;
            top: -23px;
            z-index: 1000;
            display: none;
          }
          &::after{
            content: '';
            display: inline-block;
            height: 1px;
            width: 24px;
            background-color: #91d0ff;
            position: absolute;
            right: -12px;
            top: 11px;
          }
        }
        .ant-tree-node-content-wrapper{
          height: 50px;
          margin-left: 10px;
          width: 320px;
          text-align: left;
          padding: 1px;
          &::before{
            display: none;
          }
          &:hover{
            background-color: transparent;
            .treeNodeTitle{
              position: relative;
              .tree_icon{
                display: block;
                position: absolute;
                top: 7px;
                width: 20px;
                height: 20px;
                background-image: url(../../../../static/images/organize.png);
                background-repeat: no-repeat;
              }
              .add{
                right: -50px;
                background-position: 0px 0;
              }
              .edit{
                right: -80px;
                background-position: -48px 0px;
              }
              .remove{
                right: -110px;
                background-position: -72px 0px;
              }
              .add2{
                right: -50px;
                background-position: -0px 0;
              }
              .addOrg{
                right: -80px;
                background-position: -24px 0;
              }
              .edit2{
                right: -110px;
                background-position: -48px 0px;
              }
              .remove2{
                right: -140px;
                background-position: -72px 0px;
              }
    
            }
          }
          .ant-tree-title{
            display: inline-block;
            height: 36px;
            line-height: 36px;
            color: #5654be;
            background-color: #ffffff;
            border-radius: 2px;
            border: solid 1px #91d0ff;
            padding: 0 20px;
            &:hover{
              background-color: #d4edff;
              border-radius: 2px;
              border: solid 1px #91d0ff;
            }
          }
        }
      }
      .ant-tree-treenode-switcher-close{
        position: relative;
        &::before{
          content: '';
          width: 1px;
          height: 44px;
          background-color: #91d0ff;
          position: absolute;
          left: 44px;
          top: 23px;
          // z-index: 1000;
          display: inline-block;
        }
        .ant-tree-switcher-noop{
          position: relative;
          &::before{
            content: '';
            width: 1px;
            height: 48px;
            background-color: #91d0ff;
            position: absolute;
            right: 11px;
            top: 12px;
            z-index: 1000;
            display: inline-block;
          }
        }
      }
      .ant-tree-treenode-leaf-last{
        &::before{
          display: none;
        }
        .ant-tree-switcher_close{
          &::before{
            display: none;
          }
        }
        .ant-tree-switcher-noop{
          &::before{
            display: none;
          }
        }
      }
    }
  }
}