@import '~antd/es/style/themes/default.less';

.variable-item {
  width: 100% !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .ant-form-item{
    margin: 0 5px;
  }
}