page{
    width: 100%;
    height: 100%;
    .root{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        .imageContent{
            width: 100%;
            margin-top: 33%;
            .image{
                display: inline-block;
                width: 80%;
                height: 42%;
            }
        }
        .name{
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 10%;
            color: #0084D6;
            font-size: 46px;
        }
    }
}