.container {
  background: #6d71a6;
  height: 100vh;
  position: relative;
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.content-container {
  padding: 10vh 70px 0;
  position: relative;
  z-index: 2;
}

.title-wrap {
  font-size: 44px;
  font-family: "PingFang SC-Bold", "PingFang SC";
  font-weight: bold;
  color: #fff;
  text-shadow: 0 20px 120px rgb(0 0 0 / 50%);
  display: block;
  text-align: center;
}

.title {
  display: block;
  text-shadow: 0 20px 120px rgb(0 0 0 / 50%);
}

.captcha-input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10vh;
}

.captcha-input-item {
  display: block;
  width: 13%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  background: rgb(255 255 255 / 1%);
  border-radius: 20px;
  opacity: 1;
  border: 2px solid rgb(255 255 255 / 30%);
  position: relative;
  z-index: 1;
  font-size: 72px;
  font-family: DIN-Regular, DIN;
  font-weight: 400;
  color: #fff;
}

.captcha-input-item-small {
  font-size: 36px;
}

.input-control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
}

.input-control input {
  height: 118px !important;
  width: 100%;
}

.input-wrap {
  height: 112px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  opacity: 1;
  border: 2px solid rgb(255 255 255 / 30%);
}

.area-code {
  display: block;
  width: 112px;
  text-align: center;
  font-size: 36px;
  font-family: DIN-Regular, DIN;
  font-weight: 400;
  color: #fff;
  border-right: 2px solid rgb(255 255 255 / 40%);
}

.input-control {
  display: block;
  outline: none;
  border: none;
  background: transparent;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  line-height: 54px;
  font-family: DIN-Regular, DIN;
  font-weight: 400;
  color: #fff;
  flex: 1;
  overflow: hidden;
}

.input-control input {
  margin: 0;
  height: 54px;
  line-height: 54px;
  font-family: DIN-Regular, DIN;
  font-weight: 400;
  color: #fff;
  display: block;
  outline: none;
  border: none;
}

.input-control::after {
  display: none;
}

.button {
  margin: 102px 24px 0;
  height: 101px;
  text-align: center;
  line-height: 101px;
  font-size: 34px;
  font-family: "PingFang SC-Medium", "PingFang SC";
  font-weight: 500;
  background: rgb(0 0 0 / 50%);
  border-radius: 74px;
  opacity: 1;
  border: 3px solid #4756cb69;
  padding: 0 80px;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  z-index: 3;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .button {
    height: 101px;
    border-radius: 74px;
    opacity: 1;
    border: 2px solid rgb(255 255 255 / 50%);
    background: #413772c6;
    backdrop-filter: blur(100px);
  }
}

.shadow {
  width: 518px;
  height: 114px;
  background: rgb(104 77 195 / 38%);
  border-radius: 60px;
  opacity: 1;
  filter: blur(20px);
  margin: -57px auto 0;
  position: relative;
  z-index: 1;
}

.captcha-label {
  font-size: 34px !important;
  font-family: "PingFang SC-Medium", "PingFang SC";
  font-weight: 500;
  color: #fff !important;
}
