.rule1-page {
  padding-top: 1300px;
  /* background: url(./../../assets/page-bottom2.png) no-repeat left bottom/750px 786px; */
  background-color: #381198;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  height: 46px;
  background: linear-gradient(254deg, rgba(207, 166, 255, 0) 60%, #6d94ff 100%);
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  line-height: 46px;
  padding-left: 58px;
  margin-top: 40px;
  margin-bottom: 24px;
}

p {
  padding-left: 72px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  padding-right: 32px;
  color: #ffffff;
}

p.li1 {
  margin-top: 16px;
  margin-bottom: 20px;
  position: relative;
}

p.li1::before {
  position: absolute;
  top: 4px;
  left: 36px;
  content: attr(data-index);
  width: 20px;
  height: 20px;
  background: linear-gradient(230deg, #91e9f0 0%, #5875dd 100%, #5875dd 100%);
  color: #ffffff;
  border-radius: 1000px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
}

p.li2 {
  color: #6793e2;
  margin-bottom: 10px;
}

p.li3 {
  color: #8df1fa;
  margin-bottom: 10px;
}

p.tips {
  color: #e267e1;
  margin-bottom: 10px;
}

table {
  color: #F1C4FF;
  font-size: 24px;
  border-collapse: collapse;
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

td,
th {
  font-size: 24px;
  border: 2px solid #B248CD;
  padding: 15px 30px;
}

.orange {
  color: #ffda98 !important;
}

.nav-links {
  border-radius: 1000px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 60px auto;
  width: 580px;
  position: relative;
}

.nav-link {
  flex: 1 0 0;
  height: 56px;
  background: linear-gradient(180deg, #da6efc 0%, #8a8ef7 100%);
  box-shadow: -2px 0px 0px 0px rgba(41, 19, 78, 1);
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link.active {
  background: linear-gradient(#fad4be, #ef92cd);
}

p.luckydraw {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
}

.notice {
  font-size: 20px;
  font-weight: 500;
  color: #8df1fa;
  padding-left: 72px;
  /* border-top: solid 2px #8df1fa; */
}


/* 新版本样式 */
.competition p {
  padding-left: 0px;
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  padding-right: 32px;
  color: #ffffff;
  text-align: left;
}

.competition p.li1-new {
  line-height: 58px;
  position: relative;
}

.competition p.li1-rule-new {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.competition p.li2-new {
  line-height: 58px;
}


.competition p.li2-rule-new {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.competition .title-new {
  width: 220px;
  height: 46px;
  background: url(./../../assets/chapter-bg.png) no-repeat left top/100% 100%;
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  line-height: 46px;
  padding-left: 28px;
  margin-top: 20px;
  margin-bottom: 24px;
  margin-left: -20px;
  white-space: nowrap;
}

.mgt10 {
  margin-top: 10px;
}

.title-sea {
  font-size: 32px;
  font-family: 'fangyuehe';
  font-weight: normal;
  color: #FFFFFF;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.title-sea::before {
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 226px;
  height: 90px;
  content: '';
}

.title-sea::after {
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 226px;
  height: 90px;
  content: '';
}

.li2-rule-new .dot {
  width: 26px;
  height: 26px;
  background: linear-gradient(230deg, #91E9F0 0%, #5875DD 100%, #5875DD 100%);
  border-radius: 50%;
  display: inline-block;
  font-style: normal;
  text-align: center;
  margin: 4px 10px 0 0;
  line-height: 26px;
}