.empty-holder {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img {
        height: 264px;
        width: 286px;
    }
    .txt {
        font-size:32px;
        font-family:PingFang SC;
        font-weight:400;
        color:rgba(178,184,198,1);
    }
}