.rule3-page {
  padding-top: 1200px;
  /* background: url(./../../assets/page-bottom2.png) no-repeat left bottom/750px 786px; */
  background-color: #381198;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.rule3-page .new-title{
  font-size: 32px;
  font-family: 'fangyuehe';
  font-weight: normal;
  color: #FFFFFF;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -38px;
  margin-bottom: 20px;

}

.rule3-page .new-title::before{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 206px;
  height: 94px;
  content: '';
}

.rule3-page .new-title::after{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 206px;
  height: 94px;
  content: '';
}


.intro {
  margin: 0 auto;
  width: 602px;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #8df1fa;
  line-height: 34px;
}

.title {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 220px;
  height: 46px;
  background: linear-gradient(254deg, rgba(207, 166, 255, 0) 0%, #6d94ff 100%);
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 46px;
  text-indent: 50px;
}

.title.first {
  margin-top: 0;
}

.txt {
  margin-top: 10px;
  margin-left: 28px;
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 34px;
}

.txt.hgihlight {
  color: #8df1fa;
}


table {
  color: #F1C4FF;
  font-size: 24px;
  border-collapse: collapse;
  text-align: center;
  margin: 20px 0;
  width: 100%;
}

td,
th {
  font-size: 24px;
  border: 2px solid #B248CD;
  padding: 15px 10px;
}

table .width_nowrap{
  width: 210px;
  padding: 15px 5px;
}

.li2-rule-new{
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}