.singer-slider {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 10px;
  width: 100%;
  height: 208px;
  box-sizing: border-box;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 208px;
}

.swiper-slide:first-child {
  margin-left: 20px;
}

.swiper-slide:last-child {
  margin-right: 30px;
}
/* 
.progress-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 162px;
}

.progress-item.active::after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: "";
  width: 188px;
  height: 208px;
  transform: translate(-50%, -50%);
  background: url(./images/img-slide-wrapper.png) no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.progress-item img {
  width: 154px;
  height: 162px;
} */


.glory-item .glory-item-contain {
  margin: 0 15px;
  font-size: 20px;
  font-family: YouSheBiaoTiHei;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: -2px;
  text-align: center;
  border: 2px solid #8870e1;
  width: 154px;
  height: 162px;
  background: linear-gradient(180deg, #5434c2 0%, #362062 100%);
  border-radius: 12px;
  opacity: 0.61;
  flex: 0 0 154px;
  z-index: 2;
  position: relative;
}

.glory-item .glory-item-contain .contain-img {
  width: 138px;
  height: 36px;
  background: url(./images/blue-lit.png) no-repeat center/100%;
  transition: all 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 10px 0;
}

.glory-item .glory-item-contain .name {
  font-size: 34px;
  text-shadow: #2e027a 1px 0 0, #2e027a 0 1px 0, #2e027a -1px 0 0,
    #2e027a 0 -1px 0;
}

.glory-item .glory-item-contain .contain-img span {
  font-size: 20px;
}

.glory-item .glory-item-contain .time {
  font-size: 18px;
}

.glory-item.active .glory-item-contain {
  opacity: 1;
  background: linear-gradient(180deg, #f4ce81 0%, #ff6ac4 100%);
  border: 2px solid #ffffff;
}

.glory-item.active .glory-item-contain .name {
  opacity: 1;
  text-shadow: #8c0766 1px 0 0, #8c0766 0 1px 0, #8c0766 -1px 0 0,
    #8c0766 0 -1px 0;
}

.glory-item.active .glory-item-contain .contain-img {
  background: url(./images/pink-lit.png) no-repeat center/100%;
}

.glory-item.active {
  position: relative;
}

.glory-item.active::after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: '';
  width: 188px;
  height: 208px;
  transform: translate(-50%, -50%);
  background: url(./images/img-slide-wrapper.png) no-repeat;
  background-size: cover;
  z-index: 0;
}
