@import url(./common.css);

.award-modal {
  position: relative;
  padding-bottom: 144px;
  width: 554px;
  min-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background: #1F0056;
  border-radius: 80px 80px 20px 20px;
  border: 6px solid #7AF3FF;
  margin: 250px 0 0 0;
}

.award-modal span[data-title] {
  position: absolute;
  left: 50%;
  background-size: cover;
  transform: translateX(-50%);
  top: -310px;
  width: 750px;
  height: 560px;
  background: url(./../../assets/model-bg.png) no-repeat center center/100% 100%;
  z-index: -1;
}

.award-modal .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.award-modal .content[data-start="1"] {
  justify-content: flex-start;
}

.award-modal .content span {
  margin-bottom: 32px;
  font-size: 32px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #ffffff;
  line-height: 44px;
}

.award-modal .award-action {
  position: absolute;
  left: 50%;
  bottom: 42px;
  width: 394px;
  height: 114px;
  background: url(./images/has-known.png) no-repeat center center;
  background-size: cover;
  transform: translateX(-50%);
}

.award-modal .award-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 188px;
  background: linear-gradient(180deg, #445fae 0%, #3c157c 100%);
  border-radius: 10px;
}

.award-modal .award-wrapper img {
  width: 70%;
  object-fit: contain;
}


.award-modal .new-title{
  font-size: 32px;
  font-family: 'fangyuehe';
  font-weight: normal;
  color: #FFFFFF;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;

}

.award-modal .new-title::before{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 206px;
  height: 94px;
  content: '';
}

.award-modal .new-title::after{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 206px;
  height: 94px;
  content: '';
}