@import url(./common.css);

.common-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 554px;
  height: 670px;
  background: #1F0056;
  border-radius: 80px 80px 20px 20px;
  border: 6px solid #7AF3FF;
  margin: 210px 0 0 0;
}

.common-modal span[data-title] {
  position: absolute;
  left: 50%;
  background-size: cover;
  transform: translateX(-50%);
  top: -310px;
  width: 750px;
  height: 560px;
  background: url(./../../assets/model-bg.png) no-repeat center center/100% 100%;
  z-index: -1;
}

.common-modal .content {
  margin-top: 132px;
  font-size: 32px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #ffffff;
  line-height: 44px;
  text-align: center;
}

.common-modal .common-action {
  position: absolute;
  left: 50%;
  bottom: 52px;
  width: 394px;
  height: 114px;
  background: url(./images/has-known.png) no-repeat center center;
  background-size: cover;
  transform: translateX(-50%);
}


.common-modal .new-title{
  font-size: 32px;
  font-family: 'fangyuehe';
  font-weight: normal;
  color: #FFFFFF;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;

}

.common-modal .new-title::before{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 226px;
  height: 94px;
  content: '';
}

.common-modal .new-title::after{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 226px;
  height: 94px;
  content: '';
}