@import url(./common.css);

.pay-success-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/pay-success-content.png) no-repeat left center;
  width: 100vw;
  height: 100vh;
  background-size: 100% auto;
}


.pay-success-modal .btn-pay-success {
  margin-top: 40px;
  width: 394px;
  height: 114px;
}
