@import url(./common.css);

.recommand-players-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 670px;
  height: 922px;
  background: #1F0056;
  border-radius: 80px 80px 20px 20px;
  border: 6px solid #7AF3FF;
  box-sizing: border-box; 
  margin: 250px 0 0 0;
}

.recommand-players-modal span[data-title] {
  position: absolute;
  left: 50%;
  top: -310px;
  width: 750px;
  height: 560px;
  background: url(./../../assets/model-bg.png) no-repeat center center;
  background-size: cover;
  transform: translateX(-50%);
  z-index: -1;
}

.recommand-players-modal .btn-receive-more {
  position: absolute;
  left: calc(50% - 197px);
  bottom: 20px;
  width: 394px;
  height: 112px;
  background: url(./images/img-receive-more-new.png) no-repeat center center;
  background-size: cover;
}

.recommand-players-modal .new-title{
  font-size: 32px;
  font-family: 'fangyuehe';
  font-weight: normal;
  color: #FFFFFF;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;

}

.recommand-players-modal .new-title::before{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 226px;
  height: 94px;
  content: '';
}

.recommand-players-modal .new-title::after{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 226px;
  height: 94px;
  content: '';
}