@import url(./common.css);

.time-limit-modal {
  position: relative;
  width: 554px;
  /* min-height: 846px; */
  min-height: 786px;
  background: #1F0056;
  border-radius: 80px 80px 20px 20px;
  border: 6px solid #7AF3FF;
  margin: 210px 0 0 0;
}

.time-limit-modal span[data-title] {
  position: absolute;
  left: 50%;
  background-size: cover;
  transform: translateX(-50%);
  top: -310px;
  width: 750px;
  height: 560px;
  background: url(./../../assets/model-bg.png) no-repeat center center/100% 100%;
  z-index: -1;
}

.time-limit-modal .gifts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.time-limit-modal .gift-item-layer {
  position: relative;
  width: 228px;
  height: 270px;
}

.time-limit-modal .gift-item-layer:last-child {
  margin-left: 40px;
}

.time-limit-modal .gift-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 270px;
  background: linear-gradient(180deg, #445fae 0%, #3c157c 100%);
  border-radius: 10px;
}

.time-limit-modal .gift-item img {
  margin-bottom: 60px;
  width: 70%;
  object-fit: contain;
}

.time-limit-modal .gift-item-name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 54px;
  margin-top: 16px;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
  text-align: center;
}

.time-limit-modal .gift-item-name::after {
  position: absolute;
  left: 50%;
  right: 0;
  top: 34px;
  width: 122px;
  height: 30px;
  background: #6b4ed2;
  border-radius: 16px;
  content: "\4ef7\503c\0035\0032\0030\5143";
  transform: translateX(-50%);
}

.time-limit-modal .tip {
  position: relative;
  margin-left: 66px;
  margin-top: 24px;
  /* margin-bottom: 20px; */
  width: 340px;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #8f531d;
  line-height: 48px;
  text-align: center;
  z-index: 0;
}

.time-limit-modal .tip::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 340px;
  height: 56px;
  background: url(./images/tip-bg.png) no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.time-limit-modal .btn-buy {
  display: block;
  margin: 24px auto;
  width: 394px;
  height: 114px;
}

.time-limit-modal .price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 18px 0 0 0;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
}

.time-limit-modal .price .img-diamond {
  margin: 0 14px 0 0;
  width: 44px;
  height: 40px;
  background: url(../../assets/images/img-diamond-new.png) no-repeat center center;
  background-size: cover;
}

.time-limit-modal .price .dia-price {
  font-size: 36px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 50px;
}

.time-limit-modal .new-title {
  font-size: 32px;
  font-family: 'fangyuehe';
  font-weight: normal;
  color: #FFFFFF;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;

}

.time-limit-modal .new-title::before {
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 166px;
  height: 94px;
  content: '';
}

.time-limit-modal .new-title::after {
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 166px;
  height: 94px;
  content: '';
}