.upgrade-match-modal {
  position: relative;
  align-items: center;
  width: 658px;
  height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #1F0056;
  border-radius: 80px 80px 20px 20px;
  border: 6px solid #7AF3FF;
  margin: 310px 0 0 0;
}

.upgrade-match-modal span[data-title-top] {
  position: absolute;
  left: 50%;
  background-size: cover;
  transform: translateX(-50%);
  top: -280px;
  width: 388px;
  height: 62px;
  background: url(./images/upgrade-match-title.png) no-repeat center center/100% 100%;
  z-index: 1;
}

.upgrade-match-modal span[data-title] {
  position: absolute;
  left: 50%;
  background-size: cover;
  transform: translateX(-50%);
  top: -310px;
  width: 750px;
  height: 560px;
  background: url(./../../assets/model-bg.png) no-repeat center center/100% 100%;
  z-index: -1;
}

.modal-btn-close {
  margin-top: 30px;
}

.upgrade-match-modal .upgrade-match-desc {
  margin-top: 54px;
  font-size: 40px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 56px;
  text-align: center;
}

.upgrade-match-modal .upgrade-match-action {
  margin-top: 62px;
  width: 394px;
  height: 114px;
  background: url(./images/has-known.png) no-repeat center center;
  background-size: cover;
}

.content-wrapper{
  margin: auto;
  /* max-height: 100vh; */
  /* text-align: center; */
}

.new-title{
  font-size: 32px;
  font-family: 'fangyuehe';
  font-weight: normal;
  color: #FFFFFF;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.margin0{
  margin: 0 !important;
}

.new-title::before{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 194px;
  height: 94px;
  content: '';
}

.new-title::after{
  background: url(./../../assets/sea.png) no-repeat center center/100% 100%;
  width: 194px;
  height: 94px;
  content: '';
}

.upgrade-match-modal-new{
  position: relative;
  align-items: center;
  width: 658px;
  min-height: 706px;
  background: #1F0056;
  border-radius: 80px 80px 20px 20px;
  border: 6px solid #7AF3FF;
  margin: 310px 0 0 0;
  padding: 0px 20px 60px; 
}

.upgrade-match-modal-new span[data-title] {
  position: absolute;
  left: 50%;
  background-size: cover;
  transform: translateX(-50%);
  top: -310px;
  width: 750px;
  height: 560px;
  background: url(./../../assets/model-bg.png) no-repeat center center/100% 100%;
  z-index: -1;
}