.final-scene-page {
  padding-top: 1200px;
  /* background: url(./../../assets/page-bottom2.png) no-repeat left bottom/750px 786px; */
  background-color: #381198;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.one{
  position: absolute;
  top: 830px;
  left: 100px;
  width: 128px;
  height: 34px;
}

.two{
  position: absolute;
  top: 940px;
  right: 70px;
  width: 106px;
  height: 28px;
    width: 128px;
  height: 34px;
}

.final-scene-title {
  position: relative;
  margin: 0 auto -78px;
  width: 382px;
  height: 70px;
  background: url(../../assets/images/img-title-bg.png) no-repeat center center;
  background-size: cover;
  font-family: zihun143-zhengkuchaoji;
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
  line-height: 70px;
  text-align: center;
  z-index: 1;
}

.transfer-entry {
  position: relative;
}

.transfer-entry::after {
  position: absolute;
  left: 50%;
  top: 0px;
  display: block;
  content: "";
  width: 278px;
  height: 278px;
  background: url(./images/img-room-mask.png) no-repeat center center;
  background-size: cover;
  transform: translateX(-50%);
}

.transfer-entry img {
  width: 666px;
  height: 600px;
  margin: -60px 0 0 0;
}

.transfer-desc {
  margin-top: -40px;
  margin-bottom: 10px;
  max-width: 608px;
  font-size: 28px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 400;
  color: #F1C4FF;
  line-height: 40px;
}

.song-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.song-item-no {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  background: #682afc;
  border-radius: 50%;
  font-size: 26px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}

.song-item-name,
.song-item-belong {
  flex: 0 0 auto;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #5be7f3;
  line-height: 40px;
}

.song-item-name {
  margin: 15px 20px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.look-more {
  margin-top: 24px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #ffffff;
  line-height: 40px;
}

.boon-title {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  /* font-family: zihun143-zhengkuchaoji; */
  color: #7AF1FC;
  line-height: 44px;
  font-weight: 600;
}

.boon-desc {
  margin-left: 20px;
  /* margin-bottom: 48px; */
  max-width: 572px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #64B6F2;
  line-height: 40px;
}

/* .award-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.award-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

}
.award-item:nth-child(2),
.award-item:nth-child(3),
.award-item:nth-child(5) {
  margin-left: 40px;
} */

/* .award-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background: linear-gradient(360deg, rgba(101, 7, 168, 0) 0%, #35036F 100%);
  border-radius: 14px;
  border: 4px solid #7D42FF;
}

.award-item-img img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  object-position: center center;
}

.award-item-name {
  margin-top: 16px;
  width: 182px;
  height: 38px;
  background: url(../../assets/images/img-award-name.png) no-repeat center center;
  background-size: cover;
  font-size: 24px;
  font-family: YouSheBiaoTiHei;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
}

.award-item-name[data-font="9"] {
  font-size: 18px;
} */

.detail1 {
  margin-left: 20px;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 40px;
}

.detail1-desc {
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 8px;
  font-size: 24px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 34px;
}

.detail1-list-item {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #d15cff;
  line-height: 34px;
}

.detail2,
.detail3 {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 16px;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 40px;
}

.detail3 {
  margin-top: 26px;
  margin-bottom: 10px;
}

.btn-appointment {
  margin-top: 20px;
  width: 394px;
  height: 114px;
  background: url(./images/img-btn-appointment.png) no-repeat center center;
  background-size: cover;
}

.img-top {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  width: 750px;
  height: 274px;
  background: url(./images/img-finalscene-top.png) no-repeat center center;
  background-size: cover;
}

.img-top::after {
  display: block;
  content: attr(data-txt);
  font-size: 32px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 384px;
  transform: translateX(-8px);
}
