.container {
  width: 100%;
  background: #1B0757;
}

.page {
  width: 960PX;
  padding-top: 360PX;
  padding-bottom: 60PX;
  background: url(./images/bg.png) no-repeat top center/960PX #1b0757;
  margin: 0 auto;
}

/* 
.card {
  margin: 0 auto;
  background: url(./images/box.png) no-repeat center/cover;
  width: 566PX;
  height: 640PX;
  padding: 60PX;
  position: relative;
}

.card{
  display: flex;
  flex-direction: column;
} */
.card {
  width: 690PX;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card::before {
  display: block;
  flex: 0 0 auto;
  width: 690PX;
  height: 86PX;
  content: '';
  background: url(./images/card-top.png) top/690PX 86PX no-repeat;
}

.card::after {
  display: block;
  flex: 0 0 auto;
  width: 690PX;
  height: 34PX;
  content: '';
  background: url(./images/card-bottom.png) top/690PX 34PX no-repeat;
}

.card .children {
  flex: 1;
  background: url(./images/card-center.png) center/690PX 34PX repeat;
  min-height: 200PX;
  width: 100%;
  padding: 0 22PX 32PX 28PX;
  position: relative;
}

.card .chapter {
  color: #7af3ff;
  line-height: 20PX;
  font-size: 16PX;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10PX 0 20PX 0;
}

.card .chapter::before {
  content: '';
  width: 74PX;
  height: 0PX;
  border: 1PX solid #7af3ff;
  margin: 0 20PX 0 0;
}

.card .chapter::after {
  content: '';
  width: 74PX;
  height: 0PX;
  border: 1PX solid #7af3ff;
  margin: 0 0 0 20PX;
}

.card-title {
  position: absolute;
  top: 0;
  left: 107PX;
  height: 96PX;
  width: 488PX;
  font-size: 32PX;
  color: #fff;
  line-height: 80PX;
  text-align: center;
  font-family: 'fangyuehe';
}

.title {
  font-size: 14PX;
  font-weight: 600;
  color: #ffffff;
  margin: 10PX auto;
  width: 100%;
}

.label-title {
  font-size: 14PX;
  font-weight: 600;
  color: #ffffff;
  flex: 1;
}

input[type='text'],
textarea,
select {
  height: 24PX;
  background: #391d96;
  border-radius: 5PX;
  padding-left: 16PX;
  font-size: 14PX;
  font-weight: 600;
  color: #5be7f3;
  outline: none;
  width: 100%;
  border: none;
  box-sizing: border-box;
}

.label-selet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50PX;
}

.label-selet select {
  height: 24PX;
  background: #1b0757;
  border-radius: 5PX;
  padding-right: 10PX;
  text-align: right;
  font-size: 14PX;
  font-weight: 600;
  color: #5be7f3;
  outline: none;
  width: 100PX;
  border: none;
}

.label-selet .file {
  width: 300PX;
  height: 100%;
  position: relative;
}

.label-selet .file .show-music {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 300PX;
}

.label-selet .file .show-music .music-name {
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250PX;
  font-size: 14PX;
  font-weight: 600;
  color: #5be7f3;
  text-align: right;
  padding-right: 16PX;
}

.label-selet .file .show-music .right-icon {
  width: 9PX;
  height: 16PX;
}

.label-selet .file input {
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  z-index: 999;
  width: 100%;
  height: 100%;
}

input::placeholder,
textarea::placeholder {
  font-size: 14PX;
  font-weight: 600;
  color: #5be7f3;
  color: #ccc;
}

textarea {
  height: 100PX;
  padding-top: 10PX;
  background: linear-gradient(180deg, #3c1e9c 0%, #1c0d63 100%);
  box-sizing: border-box;
}

input[type='file'] {
  color: #fff;
}

.sure-sign {
  background: url(./images/submit.png) center/154PX 45PX no-repeat;
  width: 154PX;
  height: 45PX;
  margin: 30PX auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  background: url(./images/arrow.png) no-repeat center/contain;
  width: 5PX;
  height: 8PX;
}

input[type='file'] {
  width: 100%;
  border-radius: 6PX;
  /* background: #391d96; */
  font-size: 14PX;
}

textarea::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.height20 {
  height: 20PX;
}

.form-tips {
  margin: 14PX 0 0 0;
}

.form-tips p {
  line-height: 20PX;
  font-size: 13PX;
  font-weight: 600;
  color: #6c85ff;
}

/* .title{
  font-size: 14PX;
  font-weight: 600;
  color: #FFFFFF;
  margin: 10PX auto;
  width: 100%;
}

input[type=text],textarea,select{
  height: 23PX;
  background: #391D96;
  border-radius: 5PX;
  padding-left: 16PX;
  font-size: 14PX;
  font-weight: 600;
  color: #5BE7F3;
  outline: none;
  border: none;
}

input::placeholder,textarea::placeholder{
  font-size: 14PX;
  font-weight: 600;
  color: #5BE7F3;
  color: #ccc;
}

textarea{
  height: 100PX;
  padding-top: 10PX;
}

input[type=file]{
  color: #fff;
}

button{
  background:linear-gradient(#FAE279, #F8B757 );
  width: 200PX;
  height: 46PX;
  border-radius: 10000PX;
  margin: 30PX auto;
  color: #fff;
  font-size: 18PX;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow{
  background: url(./images/arrow.png) no-repeat center/contain;
  width: 5PX;
  height: 8PX;
}

input[type=file]{
  width: 100%;
  border-radius: 6PX;
  background: #391D96;
  font-size: 14PX;
}

textarea::placeholder{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
} */