.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 66px;
  background: #160843;
  border-radius: 34px;
  border: 2px solid #b7aff9;
  font-size: 0;
  box-sizing: border-box;
}

.search-box input {
  flex: 1;
  padding: 0 20px;
  height: 100%;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #755ec4;
  line-height: 66px;
}

.search-box input::placeholder {
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #755ec4;
  line-height: 66px;
  text-align: center;
}

.search-btn {
  display: inline-block;
  flex: 0 0 auto;
  width: 132px;
  height: 66px;
  background: linear-gradient(222deg, #b261fe 0%, #7a32fc 100%);
  border-radius: 34px;
  border: 2px solid #b7aff9;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 66px;
  text-align: center;
}

.icon-close {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  background: url(./images/icon-close.png) no-repeat center center;
  background-size: 20px 20px;
  box-sizing: border-box;
}

.icon-close[data-visible="0"] {
  visibility: hidden;
}
