@import '~antd/es/style/themes/default.less';

.optional {
  color: @text-color-secondary;
  font-style: normal;
}
.tops{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  .LoginForm_buttom{
    background-color: #f4faff;
    color: #5654be;
    right: 10px;
    height: 30px;
    line-height: 28px;
    min-width: 70px !important;
    padding: 0 14px;
  }
  .LoginForm_p{
    margin: 0;
    color: #005189;
    font-size: 16px;
    font-weight: 700;
  }
}

.LoginForm_buttom {
  min-width: 100px;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 38px;
  border: 1px solid #91d0ff;
  border-radius: 20px;
  box-shadow: 0 3px 4px 0 rgba(15, 127, 211, 20%);
  cursor: pointer;
}
