.lottery-page {
  padding-top: 1200px;
  /* background: url(./../../assets/page-bottom2.png) no-repeat left bottom/750px 786px; */
  background-color: #381198;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.lottery-pannel {
  position: relative;
  margin-left: 50%;
  width: 812px;
  height: 2214px;
  background: url(./images/lottery-bg.png) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  transform: translateX(-50%);
}

.lottery-layer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 188px auto 0;
  width: 556px;
}

.lottery-layer .lottery-item {
  position: relative;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background: url(./images/lottery-item-bg.png) no-repeat center center;
  background-size: cover;
}

.lottery-item.on:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: url(./images/img-lottery-highlight.png) no-repeat center center;
  background-size: cover;
  z-index: 5;
}

.lottery-item-img {
  width: 70%;
  object-fit: contain;
}

.lottery-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}

.lottery-btn1,
.lottery-btn2 {
  width: 270px;
  height: 110px;
  background-image: url(./images/btn-lottery1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  line-height: 102px;
  color: #ffffff;
  font-size: 30px;
}

.lottery-btn2 {
  background-image: url(./images/btn-lottery2.png);
}

.lottery-rule {
  position: absolute;
  left: 50%;
  bottom: 86px;
  width: 578px;
  height: 874px;
  transform: translateX(-50%);
}

.lottery-rule-title {
  margin: 20px auto;
  font-size: 36px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #b7ddfd;
  line-height: 50px;
  text-align: center;
}

.lottery-rule-title[data-rule1] {
  margin-top: 32px;
}

.lottery-rule-title[data-rule2] {
  margin-top: 24px;
}

.lottery-rule-content {
  margin: 0 auto 10px;
  max-width: 504px;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #6d93ff;
  line-height: 40px;
}

.lottery-rule-content[data-content2] {
  margin-bottom: 14px;
}

.lottery-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 54px auto 16px;
  padding-left: 26px;
  padding-right: 46px;
  width: 680px;
  box-sizing: border-box;
}

.lottery-info-left {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 276px;
  height: 42px;
  border-radius: 26px;
  font-size: 24px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(#6051d0, #3228a3);
  box-sizing: content-box;
}

.lottery-coin-txt {
  flex: 0 0 auto;
  margin-left: 16px;
  margin-right: 16px;
}

.lottery-info-left::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  width: 284px;
  height: 50px;
  background: linear-gradient(#daaeff, #b376ff);
  /* box-shadow: 0px 4px 0px 0px rgba(32, 30, 110, 0.5), 0px 3px 3px 0px rgba(66, 1, 117, 0.97) inset; */
  border-radius: 26px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.lottery-info-right {
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #ffffff;
  line-height: 40px;
}

.lottery-info-coin {
  flex: 1;
  font-size: 24px;
  color: #aaffdc;
}

.lottery-btn-charge {
  position: relative;
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: 4px;
  width: 34px;
  height: 34px;
  background: linear-gradient(180deg, #93e2df 0%, #8b59ff 98%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

.lottery-btn-charge::before,
.lottery-btn-charge::after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: "";
  width: 20px;
  border: 2px solid #ffffff;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.lottery-btn-charge::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.lottery-rule-row {
  margin-top: 20px;
  font-size: 30px;
  color: #6D93FF;
  text-align: center;
}
