page {
  width: 100%;
  height: 100%;
  text-align: center;

  .root {
    margin: 0 auto;
    display: inline-block;
    width: 90%;

    .title {
      text-align: left;
      font-size: 40px;
      color: #101F42;
    }

    .sign_group {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .sign_content {
        margin-top: 20px;
        display: inline-block;
        line-height: 100px;
        width: 200px;
        height: 100px;
        text-align: center;
        background: #F2F4F7;
        border-radius: 10px;
        color: #414F70;
        font-size: 36px;
      }

      .selected {
        background: #1091FF80 !important,
      }
    }
  }
}
