

.blackhole {
	height: 90vw;
	width: 90vw;
	position: absolute;
	display: flex;
  z-index: 1;
}

.centerHover {
	width: 100px;
	height: 100px;
	background-color: transparent;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -128px;
	margin-left: -128px;
	z-index: 2;
	cursor: pointer;
	line-height: 100px;
	text-align: center;
	transition: all 500ms;

	&.open  {
		opacity: 0;
		pointer-events: none;
	}

	&:hover span {
		color: #DDD;

		&:before { background-color: #DDD; }
		&:after { background-color: #DDD; }
	}
}
