$white_color: #ffffff;
$black_color: #000000;
$black1_color: #323233;
$black2_color: #2d2f33;
$black3_color: #1b1135;
$gray_color: #969799;
$gray1_color: #c8c9cc;
$gray2_color: #f7f8fa;
$gray3_color: #909399;
$gray4_color: #ebedf0;
$gray5_color: #d8dce5;
$gray6_color: #576b95;
$gray7_color: #878d99;
$gray8_color: #646566;
$red_color: #ee0a24;
$red1_color: #ff6034;
$red2_color: #ff4530;

@mixin lineClamp($line) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 第一个单词 flex 第二个单词 代表direction  第三个单词 justify-content 组后一个单词 align-items
@mixin flex-row-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
@mixin flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@mixin flex-row-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
@mixin flex-row-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
}

@mixin flex-row-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

@mixin flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@mixin flex-row-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
}
@mixin flex-row-end-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}
@mixin flex-row-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}
@mixin flex-row-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}
@mixin flex-row-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

@mixin flex-row-end-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
}

@mixin flex-row-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

// column 以下
@mixin flex-column-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-column-end-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
@mixin flex-column-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@mixin flex-column-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-column-between-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-column-start-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
