.content{
    width: 750px;

    .content_container {
        height: calc(100vh - 130px);
        padding-bottom: 180px;
    }

    .contentInputView{
        width:686px;
        // height: 244px;
        margin: 20px 32px -20px;
    }

    .imagePickView_container {
        box-sizing: border-box;
        padding: 0 0 0 32px;
        position: relative;
        left: -32px;
        margin-top: 46px;
    }

    .recorderPlay_container {
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .imagePickView{
        // height:180px;
        margin: 0px 8px;
        border-bottom:1px solid rgba(235,235,235,1);
        padding-bottom: 20px;
    }

    .replyinfoView{
        width:750px;
        opacity:1;
        margin-bottom: 20px;

        .info_item{
            margin: 0px 32px;
            width:686px;
            height: 120px;
            border-bottom:1px solid rgba(235,235,235,1);
            overflow: hidden;
      
            .item_left{
                float: left;
                // width: 200px;
                height: 120px;
                line-height: 120px;
                text-align: left;
                margin: 0px 24px;
                font-size:36px;
                font-family:PingFang SC;
                font-weight:400;
                color:rgba(16,31,66,1);
                opacity:1;
            }
            .item_right{
                float: right;
                height:120px;
                line-height:120px;
                text-align:right;
                margin: 0px 24px;
                font-size:36px;
                font-family:PingFang SC;
                font-weight:400;
                color:rgba(16,31,66,1);
                opacity:1;
      
                .avatar{
                    float: right;
                    width:88px;
                    height:88px;
                    margin: 16px 5px;
                    background:rgba(0,0,0,0);
                    border-radius:50%;
                    opacity:1;    
                }
      
                .chevron_right{
                    float: right;
                    width:16px;
                    height:29px;
                    margin: 42px 0px 42px 5px;
                }
      
              .text_right{
                float: right;
                height:120px;
                line-height:120px;
                font-size:36px;
                font-family:PingFang SC;
                font-weight:400;
                color:#b2b8c6;
                opacity:1;
                max-width: 60vw;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.choosed{
                    color:rgba(16,31,66,1);
                }
              }
      
              .right_input{
                margin: 12px 0px;
              }
            }
          }

    }

    .noticeView{
        width:668px;
        height:40px;
        margin: 10px 50px 10px 32px;
        font-size:28px;
        font-family:PingFang SC;
        font-weight:400;
        line-height:36px;
        color:rgba(122,132,153,1);
        opacity:1;     
        padding-bottom: 20px;   
    }

    .buttonView{
        width:750px;
        height: 144px;
        background:rgba(255,255,255,1);
        position: fixed;
        bottom: 0;
    
        .eidtButton{
          margin: 24px 32px;
          width:686px;
          height:96px;
          line-height:96px; 
          background:rgba(16,145,255,1);
          opacity:1;
          border-radius:8px;
          font-size:32px;
          font-family:PingFang SC;
          font-weight:500;
          color:rgba(255,255,255,1);
        }
    }

}

page {
    at-image-picker {
        .at-image-picker__flex-item {
            margin-left: 16px;

            &:nth-child(4n+3) {
                .at-image-picker__item {
                    width: calc(100% - 2px);
                }
            }
        }
        .at-image-picker__item {
            border-radius: 0;
            overflow: unset;
            .at-image-picker__remove-btn {
                top: -10px;
                right: -10px;

                width:28px;
                height:28px;
                background:rgba(16,145,255,1);
                border-radius:50%;
            }
        }
    }
}