.commit_bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 116px;
  display: flex;
  border-top: 2px solid #e1e2e6;
  background: #fff;
  opacity: 1;
}

.submit_button {
  width: 656px;
  height: 84px;
  background: #1091ff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: PingFang SC, PingFang SC-Medium;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin: 16px 32px 16px 48px;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96px;
  margin-left: 28px;
}

.img1 {
  width: 40px;
  height: 40px;
}

.txt1 {
  font-size: 24px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  color: #414f70;
}

.input_box {
  width: 686px;
  height: 308px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 48px 0px rgba(3, 28, 83, 0.06);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  align-items: center;
}

.flex_row_side {
  display: flex;
  justify-content: center;
}

.img2 {
  width: 40px;
  height: 40px;
  margin: auto 32px auto 6px;
}

.txt2 {
  font-size: 32px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #101f42;
  margin:0 32px ;
}

.txt3 {
  font-size: 32px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: right;
  color: #101f42;
  max-width: 55vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin:0 32px ;
}

.select {
  width: 100%;
  flex-grow: 1;
  justify-content: space-between;
}

.content {
  width: 686px;
  background: #ffffff;
  border-radius: 8px;
  margin: 28px auto 0;
  padding: 0 32px 120px;
  box-sizing: border-box;

}

.img3 {
  height: 64px;
  width: 64px;
}

.txt4 {
  font-size: 36px;
  font-family: PingFang SC, PingFang SC-Medium;
  font-weight: 500;
  text-align: left;
  color: #e54e4e;
  margin-left: 16px;
}

.txt5 {
  font-size: 36px;
  font-family: PingFang SC, PingFang SC-Medium;
  font-weight: 500;
  text-align: left;
  color: #1EBE8D;
  margin-left: 16px;
}

.update_title {
  height: 111px;
  border-bottom: 2px solid #ebebeb;
}

.update_info {
  min-height: 94px;
  border-bottom: 2px solid #ebebeb;
}

.img4 {
  width: 16px;
  height: 20px;
  align-self: start;
  margin-top: 37px;
}

.txt6 {
  font-size: 28px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #101f42;
}

.update_content {
  width: 548px;
  padding: 27px 18px 27px 12px;
}

.report {
  background: #F5F6F7;
  padding-bottom: 160px;
  height: 90vh;
}

.input_header {
  background: linear-gradient(#25ac4f, rgba(37, 172, 79, 0));
}

.at-modal__content {
  padding: 74px 38px;
  min-height: 50px;
}

.isEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
