.singup-page {
  width: 100vw;
  height: 100vh;
  background: #1f0056;
}

.header-normal{
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #202020;
  font-size: 34px;
  height: 88px;
  padding-top: 60px;
  box-sizing: content-box;
}

.header-normal i{
  background: url(./images/ic_left@2x.png) no-repeat left center/48px 48px;
  width: 48px;
  height: 48px;
  margin-left: 30px;
}

.header-normal span{
  text-align: center;
  flex: 1;
  padding-right: 78px;
}


.singup-page .pc {
  width: 336px;
  height: 274px;
  margin: 0 auto;
  padding: 200px 0 106px 0;
  display: block;
}

.singup-page .link {
  width: 484px;
  height: 64px;
  background: #000000;
  border-radius: 33px;
  margin: 0 auto;
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 500;
  color: #c8b0ff;
  padding: 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 64px;
}

p.desc {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
}

.copy {
  margin: 0 auto;
  width: 510px;
  height: 88px;
  background: linear-gradient(180deg, #d75efe 0%, #6327fc 100%);
  border-radius: 44px;
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  margin: 44px auto;
  text-align: center;
  line-height: 88px;
}

.tips {
  font-size: 22px;
  color: orange;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 76px;
}
