page {
  width: 100%;
  height: 100%;

  .root_view {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .operateTabView {
      border-bottom: 2px solid #E1E2E6;
    }

    .other_event_content {
      height: calc(100% - 80px);
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      .scrollview {
        height: 100%;
        width: 100%;
        text-align: center;

        .event_image {
          margin: 0 auto;
          width: 400px;
          height: 300px;
          margin-top: 40%;
          display: inline-block;
        }

        .reply_item {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          width: 100%;

          .item_detail {
            padding-left: 10px;
            box-sizing: border-box;
            flex-grow: 2;
            display: flex;
            flex-direction: column;

            .item_head {
              height: 60px;
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .title {
                color: #1B2E59;
                font-size: 36px;
                font-family: PingFang SC;
                font-weight: 500;
                line-height: 50px;
              }

              .time {
                color: #7F8AA0;
                font-size: 28px;
              }
            }

            .item_body {
              width: 100%;
              font-size: 32px;
              color: #1B2E59;
              text-align: left;

              .content{
                width: 688px;
                // height:96px;
                height: auto;
                margin-bottom: 20px;
                font-size:32px;
                font-family:PingFang SC;
                font-weight:400;
                line-height:48px;
                color:rgba(16,31,66,1);
                opacity:1;

                .inspectType{
                    // width: 144px;
                    height: 48px;
                    font-size:28px;
                    font-family:PingFang SC;
                    font-weight:400;
                    line-height:48px;
                    color:rgba(122,132,153,1);
                    background:rgba(242,244,247,1);
                    opacity:1;
                    border-radius:28px;
                    padding: 0 16px;
                    margin-right: 6px;
                }
            }
            }

            .images {
              display: flex;
              flex-wrap: wrap;
              .img{
                  margin-top: 16px;
                  margin-right: 16px;
                  width: calc((100vw - 220px)/3);
                  height: calc((100vw - 220px)/3);
              }
            }



            .item_images {
              width: 100%;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;

              .image {
                padding: 10px;
                box-sizing: border-box;
                width: 180px;
                height: 160px;
              }

            }

          }
        }
      }
    }

    .dispatch_detail_content {
      height: calc(100% - 80px);
      width: 100%;

      .scrollview {
        height: calc(100% - 280px);
        width: 100%;

        .body {
          width: 100%;

          .msg_detail {
            padding: 20px;
            box-sizing: border-box;
            width: 100%;

            .reply_item {
              margin-top: 20px;
              display: flex;
              flex-direction: row;
              width: 100%;

              .item_detail {
                padding-left: 10px;
                box-sizing: border-box;
                flex-grow: 2;
                display: flex;
                flex-direction: column;

                .item_head {
                  height: 60px;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  .title {
                    font-size: 32px;
                    color: #7A8499;
                  }

                  .time {
                    color: #7F8AA0;
                    font-size: 28px;
                  }
                }

                .item_body {
                  width: 100%;
                  font-size: 32px;
                  color: #1B2E59;
                }

                .voiceView {
                  // margin: 20px 0;
                }

                .images {
                  display: flex;
                  flex-wrap: wrap;
                  .img{
                      margin-top: 16px;
                      margin-right: 16px;
                      width: calc((100vw - 220px)/3);
                      height: calc((100vw - 220px)/3);
                  }
                }

                .item_images {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;

                  .image {
                    padding: 10px;
                    box-sizing: border-box;
                    width: 180px;
                    height: 160px;
                  }

                }

              }
            }


          }

          .operateTabView {
            width: 100%;
            height: 80px;
            background: rgba(255, 255, 255, 1);
            opacity: 1;
            display: flex;
            justify-content: space-around;
            border-bottom: 2px solid rgba(225, 226, 230, 1);

            .operateTab {
              position: relative;

              .name {
                font-size: 32px;
                font-family: PingFang SC;
                font-weight: 400;
                line-height: 80px;
                color: rgba(122, 132, 153, 1);
                opacity: 1;
              }

              .number {
                font-size: 28px;
                font-family: PingFang SC;
                font-weight: 400;
                line-height: 80px;
                color: rgba(122, 132, 153, 1);
                opacity: 1;
              }
            }

            .selected {
              .name {
                font-size: 36px;
                font-family: PingFang SC;
                font-weight: 500;
                line-height: 80px;
                color: rgba(16, 31, 66, 1);
                opacity: 1;
              }

              &::after {
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 60px;
                height: 4px;
                background: rgba(16, 145, 255, 1);
                content: '';
                transform: translate(-50%, 0)
              }
            }
          }

          .splitView {
            width: 100%;
            height: 24px;
            background: rgba(242, 245, 247, 1);
            opacity: 1;
          }

          .msg_body {
            width: 100%;
            padding: 36px 32px 0;
            box-sizing: border-box;

            .content {
              margin-top: 30px;
              font-family: PingFang SC, PingFang SC-Medium;
              font-weight: 400;
              line-height: 40px;
              font-size: 16PX;
              color: rgba(16, 31, 66, 1);
            }

            .dispatchUserName{
              width: 100%;
              height: 44px;
              font-size: 18PX;
              font-family: PingFang SC, PingFang SC-Medium;
              font-weight: bold;
              color: #101f42;
            }

            .title {
              display: block;
              font-size: 14PX;
              font-family: PingFang SC, PingFang SC-Regular;
              font-weight: 400;
              line-height: 40px;
              color: #7f8aa0;
              margin-bottom: 15px;
            }

            .recorderPlay {
              margin-top: 24px;
            }

            .image_group {
              margin-top: 28px;
              margin-left: -8px;
              width: 100%;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;

              .image_item {
                width: 24%;
                padding: 10px;
                box-sizing: border-box;

                .image {
                  width: 100%;
                  height: 160px;
                }
              }
            }
          }
        }
      }

      .control_group {
        display: inline-block;
        // padding: 15px;
        position: fixed;
        bottom: 0px;
        box-sizing: border-box;
        height: 120px;
        width: 100%;
        background: #fff;

        .content {
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          height: 120px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          padding: 0 24px 0 0;

          .group {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;

            &--left {
              flex: 2;
            }

            &--mid {
              flex: 6;
            }

            .content_image {
              width: 40px;
              height: 40px;
              margin-left: 10px;
              padding: 6px;
            }

            .tip {
              font-size: 14PX;
              color: #1091ff;
              font-family:PingFang SC, PingFang SC-Regular;
              font-weight:400;
              text-align: left;
              line-height: 22px;
              letter-spacing: 0px;
            }
          }
        }
      }

    }

    .operateTabView {
      width: 100%;
      height: 80px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      display: flex;
      justify-content: space-around;

      .operateTab {
        position: relative;

        .name {
          font-size: 32px;
          font-family: PingFang SC;
          font-weight: 400;
          line-height: 80px;
          color: rgba(122, 132, 153, 1);
          opacity: 1;
        }

        .number {
          font-size: 28px;
          font-family: PingFang SC;
          font-weight: 400;
          line-height: 80px;
          color: rgba(122, 132, 153, 1);
          opacity: 1;
        }
      }

      .selected {
        .name {
          font-size: 36px;
          font-family: PingFang SC;
          font-weight: 500;
          line-height: 80px;
          color: rgba(16, 31, 66, 1);
          opacity: 1;
        }

        &::after {
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 60px;
          height: 4px;
          background: rgba(16, 145, 255, 1);
          content: '';
          transform: translate(-50%, 0)
        }
      }
    }

    .dispatch_view {
      width: 100%;
      height: 100%;
      background: red;
    }

    .other_event_view {
      display: inline-block;
      width: 100%;
      height: 100%;
      background: green;
    }


  }
}
