@import '~antd/es/style/themes/default.less';

.optional {
  color: @text-color-secondary;
  font-style: normal;
}

.offlines {
  .ant-table-wrapper {
    .ant-table-selection .ant-checkbox-wrapper {
      visibility: hidden !important;
    }
  }
}
