.card {
  // background: rgba(255, 255, 255, 0.06);
  // border: 2px solid rgba(255, 255, 255, 0.2);
  background: #1e153f;
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  border: 2px solid #291e50;
  border-radius: 38px;
  padding: 25px 35px;
}
