.entry-page {
  padding-top: 1060px;
  background: url(./../../assets/page-bottom2.png) no-repeat left bottom/750px 786px;
  background-color: #381198;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.entry-page::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.singup {
  display: block;
  margin: 0 auto;
  position: relative;
}

.sign-tips {
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  line-height: 40px;
  width: 710px;
  height: 44px;
  background: linear-gradient(152deg,
      rgba(124, 66, 255, 0) 0%,
      rgba(112, 59, 243, 0) 10%,
      #0b008f 40%,
      #4b25ce 77%,
      rgba(112, 59, 243, 0) 90%,
      rgba(124, 66, 255, 0) 100%);
  margin: 40px  auto 50px;
  text-align: center;
  position: relative;
}

.award-item {
  display: flex;
  flex-direction: column;
  margin-left: 42px;
}

.award-item:nth-child(3n - 1) {
  margin-left: 8px;
}

.award-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background: url(../../assets/images/img-award-bg.png) no-repeat center center;
  background-size: cover;
}

.award-item-img img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  object-position: center center;
}

.award-item-name {
  margin-top: 16px;
  width: 182px;
  height: 38px;
  background: url(../../assets/images/img-award-name.png) no-repeat center center;
  background-size: cover;
  font-size: 24px;
  font-family: YouSheBiaoTiHei;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
}

.award-item-ext {
  margin-top: 16px;
  margin-bottom: 24px;
  width: 100%;
  height: 34px;
  font-size: 20px;
  font-weight: 600;
  color: #64b6f2;
  line-height: 34px;
  text-align: center;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 36px;
  font-weight: normal;
  font-family: zihun143-zhengkuchaoji;
  color: #64b6f2;
  line-height: 44px;
}

.section-title::before,
.section-title::after {
  display: block;
  content: "";
  width: 216px;
  height: 2px;
  background: #7db5ea;
}

.section-title::before {
  margin-right: 22px;
}

.section-title::after {
  margin-left: 22px;
}

.opentime {
  margin: 20px auto 80px;
  font-size: 28px;
  color: #64b6f2;
  line-height: 40px;
  text-align: center;
}

.desc-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 34px;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  color: #64b6f2;
  line-height: 40px;
  box-sizing: border-box;
}

.desc-row::before {
  display: block;
  flex: 0 0 auto;
  margin-top: 4px;
  margin-right: 32px;
  width: 30px;
  height: 30px;
  background: #64b6f2;
  content: attr(data-no);
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.pk-pannel {
  position: relative;
  margin: 32px auto;
}

.pk-pannel img {
  width: 556px;
  height: 248px;
}

.pk-pannel span {
  position: absolute;
  right: 0;
  top: -48px;
  width: 88px;
  height: 38px;
  background: #64b6f2;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 38px;
  text-align: center;
}

.pk-win-title {
  width: 100%;
  padding-left: 64px;
  font-size: 28px;
  font-weight: 600;
  color: #64b6f2;
  line-height: 40px;
  box-sizing: border-box;
}

.pk-win-tips {
  margin: 0 auto 60px;
  max-width: 552px;
  font-size: 24px;
  font-weight: 500;
  color: #e267e1;
  line-height: 34px;
}

table {
  margin-top: 20px;
  margin-bottom: 48px;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #8df1fa;
  border: 1px solid #8df1fa;
  box-sizing: border-box;
  line-height: 34px;
}

table th {
  height: 56px;
  border: 1px solid #8df1fa;
}

table th:first-child {
  width: 144px;
}

table th:last-child {
  width: 412px;
}

table td {
  padding: 0 10px;
  height: 56px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #8df1fa;
  box-sizing: border-box;
  vertical-align: middle;
}

/* margin-top: 64px;
margin-bottom: 64px; */