/* stylelint-disable block-no-empty */

.knowledge_list {
  display: flex;
  // flex-wrap: wrap;
  .knowledge_list_left {
    width: 20%;
    margin-right: 20px;
    padding: 10px;
    background-color: white;
    .knowledge_list_tree {
      min-height: 100px;
      padding: 10px 0;
      border: 1px solid gainsboro;
    }
  }
  .knowledge_list_right {
    position: relative;
    width: 78%;
  }
}
.knowledge_bottom {
  margin-top: 20px;
  padding: 20px 10px;
  background-color: white;
  button {
    margin-right: 10px;
  }
}
