@import '../../common/common.scss';

.add-page {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: #f7f8fa;
  &_body {
    height: calc(100vh - 98px);
    &--scroll {
      height: 100%;
    }
    .list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 116px;
      border-bottom:2px solid rgba(225,226,230,1);
      .left {
        display: flex;
        align-items: center;
        &__title {
          font-size:36px;
          font-family:PingFang SC;
          font-weight:400;
          color:rgba(16,31,66,1);
        }
        &__sub {
          font-size:28px;
          font-family:PingFang SC;
          font-weight:400;
          color:rgba(122,132,153,1);
          margin-left: 10px;
        }
        .required {
          &:after {
            content: '*';
            display: inline-block;
            font-size:36px;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(234,16,16,1);
            padding-left: 6px;
          }
        }
      }

      .right {
        &__container {
          display: flex;
          align-items: center;
          .txt {
            font-size:36px;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(65,79,112,1);
          }
          .chevron_right {
            margin-left: 10px;
            margin-right: -8px;
          }
          .input {
            width: 60vw;
            //text-align: right;
            font-size:32px;
            font-family:PingFang SC;
            font-weight:400;
            //white-space: nowrap;
            //text-overflow: ellipsis;
            //overflow: hidden;
            text-align: right;
          }
          .input__placeholder {
            color:rgba(178,184,198,1);
          }
          .link {
            font-size:32px;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(16,145,255,1);
          }
        }
      }

      &.custom {
        padding: 30px 0;
        height: auto;
        display: block;
        .list-item__top {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
        .list-item__body {
          margin: 0 0 0 -22px;

          &.rich__body {
            margin: 0;
            display: none;

            &--show {
              display: block;
            }
          }

          .textarea {
            background:#fff;
            width:100%;
            min-height:80px;
            font-size:32px;
            font-family:PingFang SC;
            font-weight:400;
            margin-top: 34px;
          }
          .textarea__placeholder {
            color:rgba(178,184,198,1);
          }
        }
      }
    }
    .noBorder{
      border: 0;
    }
    .list-item-more {
      display: none;

      &--show {
        display: block;
      }
    }
  }

  &_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -32px;
    height:98px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 20px rgba(0,0,0,0.1);
    .btn {
      flex: 1;
      height:98px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:32px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(83,98,131,1);
      &.save {
        background:rgba(16,145,255,1);
        color: #FFFFFF;
        border-radius: 0;
      }
    }
  }

  .curtain_container {
    // width:540px;
    border-radius:24px;
    overflow: hidden;
    .curtain__title {
      background:rgba(255,255,255,1);
      display: block;
      height: 96px;
      line-height: 96px;
      text-align: center;
      font-size:28px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(65,79,112,1);
    }
    .curtain__img {
      width: 100%;
    }
  }

  ::-webkit-scrollbar {
    opacity: 0;
    width: 0;
  }
}
.padding{
  padding: 0 32px;
  background: #fff;
}
page {
  at-image-picker {
      .at-image-picker__flex-item {
          margin-left: 16px;

          &:nth-child(4n+3) {
              .at-image-picker__item {
                  width: calc(100% - 2px);
              }
          }
      }
      .at-image-picker__item {
          border-radius: 0;
          overflow: unset;
          .at-image-picker__remove-btn {
              top: -8px;
              right: -8px;

              width:28px;
              height:28px;
              background:rgba(16,145,255,1);
              border-radius:50%;
          }
      }
  }
}

page {
  at-image-picker {
    .at-image-picker__item {
      .at-image-picker__remove-btn {
        background:#e34c51;
        color:#fff;
      }
    }
  }
}


.item_list{
  width: 412px;
  height: 256px;
  margin-right: 24px;
  padding-left: 32px;
  display: inline-block;
  border-left: 8px solid #1091ff;
  border-radius:8px;
  .label{
    color:#4F545E ;
    font-size: 28px;
    margin-top: 24px;
  }
  .content{
    color:#1E2430 ;
    font-size: 32px;
  }
  .icon {
    display: inline-block;
    background:#1091ff url(#{$rootUrl}/assets/pollution-manage/icon-phone.png);
    width: 64px;
    height: 64px;
    background-size: 64px 64px;
    margin-top: 20px;
    margin-right: 40px;
    border-radius: 32px;
  }
  .flex1{
    flex: 1;
  }

}


.scroll_box{
  width: 100%;
  overflow: hidden;
  background: #fff;
  white-space: nowrap;
  padding: 0 32px 0 0;
  .close{
    width: 32px;
    height: 32px;
    background: url(#{$rootUrl}/assets/pollution-manage/remove.png);
    background-size:32px 32px;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius:16px;
  }
  .card0{
    position: relative;
    margin-bottom: 32px;
    background: #edf5fc;
    border-color:#1091ff;
    .icon{
      background-color:#1091ff;
    }
  }
  .card1{
    position: relative;
    background: #fcedde;
    border-color:#f89633;
    .icon{
      background-color:#f89633;
    }
    margin-bottom: 32px;
  }
  .card2{
    position: relative;
    background: #dff0e3;
    border-color:#51b565;
    .icon{
      background-color:#3bb7c7;
    }
    margin-bottom: 32px;
  }
  .card3{
    position: relative;
    background: #e6f3f5;
    border-color:#3BB7C7;
    .icon{
      background-color:#3BB7C7;
    }
    margin-bottom: 32px;
  }

}

.company-remark{
  background: #fff;
  margin-bottom: 32px;
  padding-bottom: 32px;
  .title{
    padding: 32px 0;
  }
  .remark{
    border-radius: 4px;
    padding: 12px;
    border:2px solid #e1e2e6;
    height: 160px;
    width:calc(100% - 32px) ;
  }
}
.mt{
  margin-top: 16px;
}

.btn-img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}
.addBtnWarp{
  padding: 0 0 32px 0;
}
.addBtn{
  color: #38a4f4;
  background: #fff;
  border: 1px solid #f0f1f2;
  border-radius: 6px;
  width: 100%;
}
.name{
  font-size:30px;
  text-align: right;
}
.phone{
  font-size: 28px;
  color: #81858c;
  display: flex;
}
.flex1{
  flex: 1;
}
.rightIcon{
  width: 45px;
  text-align: right;
  margin-right: -8px;
}
.middle{
  width: 180px;
}
.add-page_page{
  .noBorder{
    border: 0;
  }
}
.content{
  margin-top:10px;
  color: #1E2430;
}

.show{
  display: block;
}
.hide{
  display: none;
}
.left__title{
  min-width: 80px;
}


.nameWarp{
  height: 90px;
}
.phoneWarp{
  display: flex;
  height: 120px;
}
